@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
img{

    width: 10%;
    height: 19%;
    position: absolute;
    top: 40%;
    left: 30%;

}
.spotlight{

    border-radius: 10%;
    position: absolute;
    top: 40%;
    left: 30%;
    width: 10%;
    height: 19%;
    background-color: transparent;
    box-shadow: 0 0 0 100px #fff;
    z-index: 2;
    display: inline-block;

}
.square{

    position: absolute;
    top: 40%;
    left: 30%;
    background-color: transparent;
    width: 10%;
    height: 19%;
    overflow:hidden;

}
h1{

    position: absolute;
    top: 40%;
    left: 42%;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;

}
p{

    position: absolute;
    top: 48%;
    left: 42%;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

}